* {
  box-sizing: border-box;
}
body {
  background-image: url("istockphoto-1138288758-612x612.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#logo {
  position: relative;
  margin-top: 0px;
  height: 100px;
  width: 250px;
}
.navigation {
  background-color: #11bd7aba;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aquamarine;
  display: flex;
}

.navigation ul {
  overflow: auto;
  padding: 10px 50px;
}

.navigation li {
  float: left;
  padding-left: 20px;
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 10px;
  color: #085640;
  font-weight: bold;
  font-size: 150%;
}
.navigation li a:hover {
  color: honeydew;
  transition: all 500ms ease;
}
#container {
  border-radius: 10px;
  background-color: #6dd39896;
  padding: 40px;

  margin-top: 50px;
  font-size: 150%;
  font-weight: 200;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #043326;
  line-height: 1.7;
  text-align: justify;
}
#img1 {
  height: 240px;
  width: 360px;
  box-shadow: 0 15px 20px 0;
}
#img2 {
  height: 240px;
  width: 350px;
  box-shadow: 0 15px 20px 0;
}

#con1 {
  align-items: center;
  display: flex;
}
#con2 {
  align-items: center;
  display: flex;
}
#text1 {
  margin-left: 30px;
}
#text2 {
  margin-right: 30px;
}
